stable-baselines3 @ git+https://github.com/arumugamramaswamy/stable-baselines3.git@77771d2901722845a9d25591df31cdd5b7127ba1
sb3_contrib @ git+https://github.com/Stable-Baselines-Team/stable-baselines3-contrib@c9d621b816a5192d8537c4de987c4d243bd39083
gym==0.22.0
PettingZoo==1.15.0
